{% extends "django_knowledge/emails/base.html" %}

{% load i18n %}
{% load markup %}

{% block content %}
    <p>{% blocktrans with name=name %}Hola {{ name }},{% endblocktrans %}</p>

    {% if response %}
        <p>{% blocktrans with url=response.question.url title=response.question.title domain=site.domain %}
        Sólo queriamos decirle que una nueva respuesta ha sido agregada a la pregunta "{{ title }}". Usted puede visitarla aqui: <a href="{{ domain }}{{ url "}}"">{{ domain }}{{ url "}}</a">.
        {% endblocktrans %}</p>

        <div style="background:#f3f3f3;margin:8px 0;padding:12px 18px">
            {{ response.body|striptags|markdown }}
        </div>

        <p>{% trans "Usted está recibiendo estos mensajes ya que marco inicialmente la casilla "alerta"." %}</p>
    {% endif %}

    {% if question %}
        <p>{% blocktrans with url=question.url title=question.title domain=site.domain %}
        Sólo queriamos hacerle saber que una nueva pregunta se ha agregado: "{{ title }}". Usted puede visitarla aqui: <a href="{{ domain }}{{ url "}}"">{{ domain }}{{ url "}}</a">
        {% endblocktrans %}</p>

        <div style="background:#f3f3f3;margin:8px 0;padding:12px 18px">
            {{ question.body|striptags|markdown }}
        </div>

        <p>{% trans "Usted está recibiendo estos mensajes porque es un miembro del staff." %}</p>
    {% endif %}

    <p>{% blocktrans with name=site.name %}Gracias,
    {{ name }} equipo{% endblocktrans %}</p>
{% endblock content %}
