{% extends 'django_knowledge/inner.html' %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Pon un Tema" %}{% endblock title %}

{% block knowledge_widgets %}
<div class="dk-widget">
  <h3>{% trans "Pon un Tema" %}</h3>
  <hr />

  {% if form %}
    {% include "django_knowledge/form.html" with submit_value="Envia este tema de soporte" submit_and="trataremos de resolverlo lo mas rapido posible." %}
  {% else %}
    <p class="center"><em>{% trans "Por favor inicie sesion para Poner un Tema." %}</em></p>
  {% endif %}

</div>
{% endblock knowledge_widgets %}
