{% load i18n %}
{% load url from future %}

{% if my_questions %}

  <h4>{% trans "Mis preguntas" %}</h4>
  <hr />

  <ul>
    {% for question in my_questions %}
      <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></li>
    {% endfor %}
  </ul>

  <br />
    
{% endif %}

<h4>{% trans "Categorías" %}</h4>
<hr />

<ul>
  {% for category in categories %}
    <li><a href="{% url "knowledge_list_category" category.slug %}">{{ category.title }}</a></li>
  {% endfor %}
</ul>

<br />

<h4>{% trans "Navegar" %}</h4>
<hr />

<ul>
  <li><a href="{% url "knowledge_ask" %}">{% trans "Pon un Tema o da una Sugerencia" %}</a></li>
  <li><a href="{% url "knowledge_index" %}">{% trans "Volver a la página principal." %}</a></li>
</ul>
